body{
    background-color: #c1cfda;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button{
    background-color: #18314f;
    color: #e8f1f2;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;

}
#photo{
    border-radius: 30px 80px;
}

.item{
    text-align: center;
    padding: 5px;
    max-width: 60px;
    
    border-radius:10px;
    margin-top: 10px;
    
}
#first_li{
    color: white;
    font-weight: bold;
    background-color: #FF671D;
}
#second_li{
    color: white;
    font-weight: bold;
    background-color: #3492CB;
}
#third_li{
    color: white;
    font-weight: bold;
    background-color: #EAD41C;
}