body{
    background-color: #c1cfda;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button{
    background-color: #18314f;
    color: #e8f1f2;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;

}
#photo{
    border-radius: 30px 80px;
}