*{
    margin: 0;
    padding: 0;
    
    
}
body{
    max-width:1280px;
    margin: auto;
    border: 1px solid red
}
nav{
    margin: 1% auto;
    width: 450px;
    height: 25px;
    
    vertical-align: middle;
    text-align: center;
}

nav a{
    color: #3772FF;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

#about{
    margin-left: 25%;
    margin-right: 25%;
}
#title{
    text-align: center;
    margin-top:2%;
}
/* ------ Final Header ------ */


#article-one{
    margin-top:1%;
    display: inline-block;
    border: 1px solid blue;
}
#photo-one{
    max-width: 500px;
    display: inline-block;
}
span{
    display: inline-block;
    max-width:500px;
    text-align: justify;
    vertical-align: top;
}
#article-two{
    margin-left: 190px;
    width: 900px;
    margin-top:3%;
    display: inline-block;
    border: 1px solid blue;
}
#photo-two{
    width:190px
}
#photo-three{
    width:190px
}



