*{
    margin: 0;
    padding: 0;
    
    
}
body{
    max-width:1280px;
    margin: auto;
}
nav{
    margin: 1% auto;
    width: 450px;
    height: 25px;
    
    vertical-align: middle;
    text-align: center;
}

nav a{
    color: #3772FF;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

#about{
    margin-left: 25%;
    margin-right: 25%;
}
#title{
    text-align: center;
    margin-top:2%;
}
